* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul li, li {
    list-style: none;
}

html, body, #app__main__container__wrapper {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}
main#app__main__container__wrapper {
    background-color: rgba(231, 239, 249, 0.6);
    background-image: linear-gradient(147deg, rgba(231, 239, 249, 0.6) 0%, rgba(207, 214, 230, 0.6) 74%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div#app__titlebar {
    display: flex;
    border-bottom: 1px solid #25252512;
}

div#app__titlebar .app__titlebar__icon__wrapper {
    display: flex;
    padding: 7px 15px;
}

div#app__titlebar .app__titlebar__icon__wrapper img {
    height: 22px;
}
div#app__titlebar .app__titlebar__icon__wrapper h1 {
    font-size: 12px;
    color: #1d1d1d;
    margin: 3px 5px;
}
div#app__titlebar .app__draggable__section {
    flex: 1;
}
div#app__titlebar .app__titlebar__button__wrapper {
    display: flex;
}

button.app__titlebar__button {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin: 0;
    background: no-repeat;
    border: none;
    border-radius: 0;
}
div#app__titlebar button.app__titlebar__button svg {
    height: 15px;
    width: 15px;
}


.app__container__wrapper {
    display: flex;
    flex: 1;
}

aside#app__main__sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #e1e5e53d;
    box-shadow: 4px 6px 6px 2px #00000029;
}

div#app__main__content__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header.app__sidebar__header {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
}
header.app__sidebar__header img {
    width: 60px;
}


nav#app__navigation {
    flex: 1;
    overflow: hidden;
}

nav#app__navigation  ul li a {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #616161;
    display: block;
    letter-spacing: 2px;
    padding: 1em 2.6em;
}

nav#app__navigation  ul li ul {
    display: none;
}

footer.app__setting {
    min-height: 75px;
    border-top: 1px solid #25252512;
}

footer.app__setting ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4em;
}

footer.app__setting ul svg path {
    fill: #616161;
}




header#app__content__header {
    padding: 1em;
}

header#app__content__header button {
    border: none;
    background: none;
}